# Arquivos e diretórios do PlatformIO
.pio
platformio.ini
.vscode
backup
requirements.txt

# Arquivos de build
*.o
*.a
*.hex
*.bin
*.elf
*.map

# Arquivos de configuração do VS Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Arquivos do sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos de ambiente
.env
.env.local

# Arquivos de dependências
node_modules/
bower_components/

# Arquivos de backup
*.bak
*.swp
*~